asgiref
Django
djangorestframework
django-cors-headers
django-allauth
factory-boy
Faker
mysqlclient
Pillow
python-dateutil
python-dotenv
pytz
six
sqlparse
tblib
tzdata
numpy
rave-python
gunicorn
paystackapi
drf_yasg
jsonfield
phonenumbers